$aquamarine: #7BE0AD;
$blue-green: #AEE5D8;
$platinum: #E7E5E5;
$languid: #E5D0E3;
$pink: #E0B0D5;

.modal-content {
    background-color: $blue-green;
}

.item {
    background-color: $languid;

    .fas {
        margin-top: 5px;
    }
}